main{
height: 500px;
 width: 500px;
 display: block;
}

p{

}

a{

}

a:hover{

}

section{

}

#ConversionCalculator{
  height: 100px;
  width: 100px;

}

thead{

}

tbody{

}

tr{

}

td{

}

tfoot{

}

form{

}

input{

}

select{

}
